{% extends 'base.html' %}
{% block content %}
{{block.super}}
    <div class="container">
            <h1>View Your Profile</h1>
            {% for profile in settings %}
                <p>{{profile.user.first_name | title}} {{profile.user.last_name | title}}</p>
                <p>username: <i>{{profile.user.username | title}}</i></p>
                <p>Email Address: {{profile.user.email}}</p>
                <p>You joined instagram on: <i>{{profile.user.date_joined}}</i></p>
            {% endfor %}
    </div>
{% endblock %}